*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.cabecalio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000000;
}